<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rikao.bawei.com.myyunifang">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity android:name=".activity.WelcomeActivity"

            />

        <activity android:name=".activity.HomeActivity"/>

        <activity android:name=".activity.LoginActivity"/>
        <activity android:name=".activity.ShouYeActivity"
            android:theme="@style/otherPageStyle">

        </activity>
        <activity android:name=".activity.FenLeiActivity"
            android:theme="@style/otherPageStyle"
            >

        </activity>
        <activity android:name=".activity.WebActivity"></activity>
        <activity android:name=".activity.ZhuceActivity"></activity>
        <activity android:name=".Pay.XuanZeActivity"></activity>
        <activity
            android:name=".Pay.PayDemoActivity"
            android:icon="@drawable/msp_icon"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Pay.H5PayDemoActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="portrait" >
        </activity>
        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
    </application>

</manifest>